/* Carousel Component */
.carousel {
	
	.carousel-item {

		h1,h2,h3,h4,h5,h6 {
			font-family: "Open Sans" !important;
			color: $dark !important;
		}
	}

	a[href="#carousel-hero"]{
		color: $dark !important;
		position: absolute;
		top: 120px;
	}
}