/* Card */
.card {

	.card-icon {
		color: $primary;
	}

	button {
		word-wrap: break-word;
		white-space: normal;
	}

	h5.card-title {
  	text-align: center;
  }
}

.card-header {
  background-color: $darkred;

  .btn {
  	color: $light;
  }

}