// ============================== Fonts ========================================== 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

// ============================== variable overides ============================== 
$theme-colors: (
  "primary":    #4183D7,
  "light":      #f5f6fa,
  "dark":       #353b48
);
$darkred: #c23616;
$font-family-sans-serif: "Open Sans";
$headings-font-family:   "Montserrat";
$headings-font-weight:    700;
$btn-border-radius: 0;
$card-border-radius: 0;
$card-inner-border-radius: 0;


// ============================== Bootstrap SASS  ================================
@import "./node_modules/bootstrap/scss/bootstrap.scss";

// ============================== Custom  ========================================

// = = = Carousel = = = 
.carousel-item {
	h1,h2,h3,h4,h5,h6 {
		font-family: "Open Sans" !important;
		padding: .2em;
		border: 2px solid $dark;
		color: $dark !important;		
	}
	&:nth-child(3) {
		h1, h2, h3, h4, h5 {
			border: none;
		}
		p {
			display: inline-block;
		}
	}
}

// = = = Cards = = = 
.card {
	p {
		color: $primary;
	}
	button {
		word-wrap: break-word;
		white-space: normal;
	}
}
.card-header {
  background-color: $darkred;
  .btn {
  	color: $light;
  }
}

// = = = Detail Section = = =
.details {
	background-color: $light;
}

// = = = General = = = 
.btn {
	@extend .text-uppercase
}
.shadow {
  filter: drop-shadow( 3px 3px 2px lighten($dark, 50%) );
}
.darken {
	color: $dark !important;
}
.description {
	text-align: center;
	width: 100%;
	font-size: .8em;
	font-weight: 900;
	background-color: $yellow;
	color: $light;
	padding: .5em 2em;
	color: darken($primary, 10%);
}
