// ============================== Fonts ========================================== 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

// ============================== variable overides ============================== 
$theme-colors: (
  "primary":    #4183D7,
  "light":      #f5f6fa,
  "dark":       #353b48
);
$darkred: #c23616;
$font-family-sans-serif: "Open Sans";
$headings-font-family:   "Montserrat";
$headings-font-weight:    700;
$btn-border-radius: 0;
$card-border-radius: 0;
$card-inner-border-radius: 0;


// ============================== Bootstrap SASS  ================================
@import "./node_modules/bootstrap/scss/bootstrap.scss";

// ============================== Custom  ========================================

// * {
// 	border: 1px solid red;
// }
// = = = Carousel = = =
.carousel {
	.carousel-item {

		h1,h2,h3,h4,h5,h6 {
			font-family: "Open Sans" !important;
			padding: .2em;
			border: 2px solid $dark;
			color: $dark !important;		
		}

		&:nth-child(3) {
			h1, h2, h3, h4, h5 {
				border: none;
			}

			p {
				// display: inline-block;
			}
		}
	}
}


// = = = Cards = = = 
.card {
	.card-icon {
		color: $primary;
	}
	button {
		word-wrap: break-word;
		white-space: normal;
	}
}
.card-header {
  background-color: $darkred;
  .btn {
  	color: $light;
  }
}

// = = = Detail Section = = =
.details {
	background-color: $light;
}

// = = = General = = = 
.btn {
	@extend .text-uppercase
}
.shadow {
  filter: drop-shadow( 3px 3px 2px lighten($dark, 50%) );
}
.darken {
	color: $dark !important;
}
.description {
	text-align: center;
	width: 100%;
	font-size: 1em;
	font-weight: 900;
	background-color: $yellow;
	color: $light;
	padding: 1em 2em;
	color: darken($primary, 10%);
}

footer {
	height: 5em;

}

// = = = MEDIA QUERIES = = = 
@include media-breakpoint-up(xs) {  }

@include media-breakpoint-up(sm) { 
}

@include media-breakpoint-up(md) {
	.description {
		font-size: 2em; 
	}
}
@include media-breakpoint-up(lg) { 
	.description {
		font-size: 3em; 
	}
}
@include media-breakpoint-up(xl) {  }

// Example usage:
@include media-breakpoint-up(sm) {}
